{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_dept</title>
</head>
<body>
    <center>
        <h1>display_dept</h1>
        <table border="3px">
            <img src="{% static 'images/ram.jpeg.jpeg'%}" alt="">
            <tr>
                <th>deptno</th>
                <th>name</th>
                <th>loc</th>
            </tr>
            {% for i in department %}
            <tr>
                <td>{{ i.deptno }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.loc }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>